$color-theme: #212121;
$typo-palatino: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';

@mixin size($height, $width){
  height: $height;
  width: $width;
}

@import '_design-page-unique.scss';
@import '_design-work-project.scss';

div.content-accueil {
  background-color: $color-theme;
}

.img-presentation {
  @include size(230px, 270px);
  top: 40px;
}

.btn {
  border: 2px solid #0c0c0c;
}

.btn:after {
  background-color: #fff;
  color: #0c0c0c;
}

.design-work {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0 0 45px 0 rgba(0, 0, 0, 0.15);
  box-shadow:         0 0 45px 0 rgba(0, 0, 0, 0.15);
}