$color-theme: #3497db;
$typo-palatino: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';

@mixin size($height, $width){
  height: $height;
  width: $width;
}

@import '_design-page-unique.scss';
@import '_design-work-project.scss';

div.content-accueil {
  background-color: $color-theme;
}

.img-presentation {
  @include size(421px, 610px);
}

.btn-after {
  background-color: $color-theme;
}

.btn-before {
  background-color: #0c0c0c;
}

.design-work {
  -webkit-box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow:    0 0 45px 0 rgba(0, 0, 0, 0.15);
  box-shadow:         0 0 45px 0 rgba(0, 0, 0, 0.15);
}


@media screen and (max-width: 480px){
  .img-presentation {
    height: 276px;
    width: 400px;
  }
}

@media screen and (max-width: 420px){
  div.content-accueil {
    height: 400px;
  }

  .img-presentation {
    height: 221px;
    width: 320px;
  }
}
