$color-theme: #007aff;

div.content-accueil {
  width: 100%;
  height: 100px;
  margin-bottom: 110px;
  background-color: $color-theme;
}

header {
  margin: auto;
  position: relative;

  @media screen and (min-width: 1600px){
    max-width: 1450px;
  }

  @media screen and (max-width: 1600px) {
    max-width: 1080px;
  }

  @media screen and (max-width: 1280px) {
    max-width: 1000px;
  }

  @media screen and (max-width: 1024px) {
      max-width: 760px;
  }
}


/*************** Navigation right ***************/
div.menu-right {
  font-size: 18px;
  position: absolute;
  right: 0;
  top: 20px;

  li {
    display: inline-block;
    margin-left: 40px;

    a {
      color: #fff;
      letter-spacing: 0.05em;
      position: relative;
      -webkit-transition: all ease 0.43s;
      transition: all ease 0.43s;
    }
  }
}

div.logo {
  position: absolute;
  top: 30px;
  left: 0;
  display: inline-block;
  width: 180px;

  img {
    width: 180px;
  }
}

/************** Hover menu ***************/
div.menu-right nav ul li a:before {
  content: '';
  position: absolute;
  top: 30px;
  height: 2px;
  width: 0;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transition: width ease 0.5s;
  transition: width ease 0.5s;
}

div.menu-right nav ul li:hover a:before {
  width: 100%;
  right: 0;
}

.content {
  padding-left:  3%;
  padding-right: 3%;
  text-align: center;

  h1.title {
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-size: 34px;
  font-weight: bold;
  margin-bottom: 32px;
  }

  .sep {
   width: 140px;
   height: 2px;
   border: none;
   background-color: $color-theme;
   margin-bottom: 36px;
  }

  h2.sous-titre {
     margin-bottom: 136px;
     color: #a9a9a9;
     font-family: 'Roboto', sans-serif;
     font-weight: 300;
     font-size: 20px;
   }
}


section.works {
  div.img-work {
    width: 1365px;
    height: 800px;
    margin: auto;
    -webkit-box-shadow: 0 8px 45px 0 transparentize($color-theme, 0.7);
    -moz-box-shadow:    0 8px 45px 0 transparentize($color-theme, 0.7);
    box-shadow:         0 8px 45px 0 transparentize($color-theme, 0.7);

    @media screen and (max-width: 1600px) {
      width: 1225px;
      height: 720px;
    }

    @media screen and (max-width: 1366px) {
      width: 1096px;
      height: 645px;
    }

    @media screen and (max-width: 1160px){
      width: 810px;
      height: 475px;
    }

    @media screen and (max-width: 980px) {
      width: 94%;
      height: 505px;
    }

    @media screen and (max-width: 480px){
      width: 100%;
      height: 350px;
    }
  }

  div.img-work.one {
    background: url("../img/works/page-thauvin/accueil-thauvin.PNG") no-repeat center;
    background-size: cover;
  }

  article {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 18px;
    color: #bcbcbc;
    width: 832px;
    margin: 70px auto;
    text-align: left;

    @media screen and (max-width: 1366px){
      width: 762px;
    }

    @media screen and (max-width: 980px){
      width: 90%;
      column-count: 0;
      column-rule: none;
    }

    p {
      column-count: 2;
      column-width: 370px;
      column-gap: 90px;
      column-rule: 2px solid #bcbcbc;

      @media screen and (max-width: 1366px){
        column-width: 340px;
        column-gap: 82px;
      }

      @media screen and (max-width: 980px){
        column-count: 0;
        column-rule: none;
      }
    }
  }

  h3 {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 26px;
    font-weight: bold;
    color: #0c0c0c;
   }

  div.img-work.two {
    background: url("../img/works/page-thauvin/fiche-thauvin.PNG") no-repeat center;
    background-size: cover;
    margin-bottom: 180px;
  }
}