$typo-palatino: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';

section.presentation-work .project {
  margin-bottom: 30px;

  @media screen and (max-width: 768px){
    margin-bottom: 15px;
  }
}

@import '_design-work-project.scss';

.header {
  background-color: #0c0c0c;
}

.en-tete {
  height: 540px;
  margin: auto;
}

.container {
  max-width: 1200px;
  margin:    auto;
}

.center {
  height: 100%;
  position: relative;
  overflow: hidden;
}

.work-title {
  position:  absolute;
  top:       53%;
  left:      50%;
  transform: translate(-50%, -50%);
  width: 730px;

  @media screen and (max-width: 1366px){
      width: 80%;
  }
}

.work-title h1{
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  font-style: italic;
  font-size: 38px;
  text-align: center;
}

.presentation-work {
  margin-bottom: 0;
}

@media screen and (min-width: 1600px) {
  .en-tete {
    max-width: 1450px;
  }
}
@media screen and (max-width: 1600px) {
  .en-tete {
    max-width: 1080px;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    max-width: 1000px;
  }

  .en-tete {
    max-width: 1000px;
  }
}


@media screen and (max-width: 1024px) {
  .container {
    max-width: 760px;
  }

  .en-tete {
    max-width: 760px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 100%;
    padding-top: 300px;
  }

  .center {
    height: 300px;
  }

  .container-work {
    padding-top: 60px;
    background-color: #fff;
    position: relative;
  }

  section.presentation-work {
    margin-bottom: 0;
    margin-top: 0;
  }

  .work-title {
    top: 60%;
  }

  .work-title h1 {
    font-size: 18px;
  }

  .en-tete {
    height: 300px;
    width: 100%;
  }
}