#chargement {
    position: fixed;
    z-index:  9999;
    height:   100vh;
    width:    100%;

    -webkit-transition: all ease 1.5s;
    transition:         all ease 1.5s;
    background-color: #fff;
}

#chargement-info {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

#chargement-infos {
    color: rgba(255, 87, 87, 0.13);
    font-size: 25vw;
    font-weight: 900;
    z-index: 0;
}

.loader-form {
    position: absolute;
    top:       50%;
    left:      50%;
    width: 50px;
    height: 50px;
}

.loader-form img {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    position: absolute;
    opacity: .7;
    overflow: visible;
    height: 150px;
    width: 155px;
}