#chargement {
    position: fixed;
    z-index:  9999;
    height:   100vh;
    width:    100%;

    -webkit-transition: all ease 1.5s;
    transition:         all ease 1.5s;
    background-color: #fff;
}

#chargement-info {
    position: absolute;
    top: 65%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

#chargement-infos {
    color: #2b2b2b;
    font-size: 25px;
}

#bar-loader {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 5px;
    background-color: #2b2b2b;
}

.loader-form {
    position: absolute;
    top:       50%;
    left:      50%;
}

.loader-form img {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loader {
    position: absolute;
    opacity: .7;
    overflow: visible;
    height: 150px;
    width: 155px;
}


@-webkit-keyframes draw {
    50% {
        stroke-dashoffset: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}

@keyframes draw {
    50% {
        stroke-dashoffset: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
}
