body {
  background-color: rgba(247, 247, 247, 0.4); }

div.content-accueil {
  position: relative;
  width: 100%;
  height: 540px;
  margin-bottom: 110px;
  background-color: #e32948; }
  @media screen and (max-width: 768px) {
    div.content-accueil {
      margin-bottom: 30px; } }

header {
  margin: auto;
  position: relative; }
  @media screen and (min-width: 1600px) {
    header {
      max-width: 1450px; } }
  @media screen and (max-width: 1600px) {
    header {
      max-width: 1080px; } }
  @media screen and (max-width: 1280px) {
    header {
      max-width: 1000px; } }
  @media screen and (max-width: 1024px) {
    header {
      max-width: 760px; } }

.img-presentation {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto; }
  .img-presentation img {
    width: 100%; }

.content {
  max-width: 1100px;
  margin: auto;
  padding: 20px; }
  @media screen and (max-width: 1366px) {
    .content {
      max-width: 936px; } }
  .content .brief {
    position: relative;
    margin-bottom: 100px; }
    .content .brief h1 {
      font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
      font-size: 40px;
      font-weight: bold;
      color: #343434;
      text-transform: uppercase;
      margin-bottom: 74px; }
      @media screen and (max-width: 768px) {
        .content .brief h1 {
          font-size: 32px; } }
      @media screen and (max-width: 680px) {
        .content .brief h1 {
          margin-bottom: 15px; } }
    .content .brief .button-page-unique {
      position: absolute;
      right: 0;
      top: 0; }
      .content .brief .button-page-unique button {
        margin: 0; }
    .content .brief h2 {
      font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
      font-size: 34px;
      font-weight: bold;
      color: #343434;
      text-transform: uppercase; }
      @media screen and (max-width: 680px) {
        .content .brief h2 {
          font-size: 30px; } }
      .content .brief h2 img {
        width: 35px;
        position: relative;
        top: 2px;
        margin-right: 10px; }
        @media screen and (max-width: 680px) {
          .content .brief h2 img {
            width: 30px;
            top: 0; } }
    .content .brief article {
      font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
      font-size: 20px;
      color: #bcbcbc;
      text-align: left; }
      @media screen and (max-width: 1366px) {
        .content .brief article {
          font-size: 19px; } }
      @media screen and (max-width: 980px) {
        .content .brief article {
          -webkit-column-count: 0;
          -moz-column-count: 0;
          column-count: 0;
          -webkit-column-rule: none;
          -moz-column-rule: none;
          column-rule: none; } }
      @media screen and (max-width: 1366px) {
        .content .brief article {
          font-size: 18px; } }
      .content .brief article p {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-width: 430px;
        -moz-column-width: 430px;
        column-width: 430px;
        -webkit-column-gap: 34px;
        -moz-column-gap: 34px;
        column-gap: 34px;
        -webkit-column-rule: 1px solid #dcdcdc;
        -moz-column-rule: 1px solid #dcdcdc;
        column-rule: 1px solid #dcdcdc; }
        @media screen and (max-width: 1366px) {
          .content .brief article p {
            -webkit-column-width: 400px;
            -moz-column-width: 400px;
            column-width: 400px;
            -webkit-column-gap: 82px;
            -moz-column-gap: 82px;
            column-gap: 82px; } }
        @media screen and (max-width: 980px) {
          .content .brief article p {
            -webkit-column-count: 0;
            -moz-column-count: 0;
            column-count: 0;
            -webkit-column-rule: none;
            -moz-column-rule: none;
            column-rule: none; } }

.design h2 {
  font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
  text-transform: uppercase;
  font-size: 34px;
  font-weight: bold;
  color: #343434;
  margin-bottom: 35px; }
  @media screen and (max-width: 680px) {
    .design h2 {
      font-size: 30px; } }
  .design h2 img {
    width: 32px;
    position: relative;
    top: 3px;
    margin-right: 10px; }
    @media screen and (max-width: 680px) {
      .design h2 img {
        width: 35px;
        top: 4px; } }
.design .design-work {
  display: grid;
  -webkit-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05); }
  .design .design-work:nth-child(-n + 6) {
    margin-bottom: 35px; }
  .design .design-work:last-child {
    margin-bottom: 180px; }
    @media screen and (max-width: 768px) {
      .design .design-work:last-child {
        margin-bottom: 50px; } }
  .design .design-work img {
    width: 100%; }

.other h2.other-work {
  font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
  font-size: 34px;
  font-weight: bold;
  color: #343434;
  margin-bottom: 35px;
  padding: 0 15px;
  text-transform: uppercase; }
  @media screen and (max-width: 680px) {
    .other h2.other-work {
      font-size: 30px; } }
  .other h2.other-work img {
    width: 32px;
    position: relative;
    top: 3px;
    margin-right: 10px; }
    @media screen and (max-width: 680px) {
      .other h2.other-work img {
        width: 30px; } }
.other .presentation-work {
  margin-top: 0; }

@media screen and (max-width: 680px) {
  .content .brief .button-page-unique {
    position: initial;
    margin-bottom: 65px; }

  .content {
    padding: 25px; } }
section#works {
  background-color: rgba(222, 222, 222, 0.39); }

.container-work {
  margin: auto; }

.presentation-work {
  font-size: 0;
  margin-top: 100px;
  margin-bottom: 100px; }

.project {
  position: relative;
  top: 0;
  display: inline-block;
  height: 530px;
  width: 33.33333%;
  padding: 0 15px;
  -webkit-transition: top ease 0.4s;
  transition: top ease 0.4s; }

.project:hover {
  top: -10px; }

.project:hover .wrap-child {
  -webkit-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15);
  box-shadow: 0 20px 30px 0 rgba(0, 0, 0, 0.15); }

.wrap-child {
  height: 100%;
  position: relative;
  overflow: hidden;
  -webkit-transition: all ease 0.3s;
  transition: all ease 0.3s; }

.wrap-child a {
  display: block;
  height: 100%; }

div.titre-work {
  position: absolute;
  top: 30px;
  left: 30px; }

div.sous-titre-work {
  position: absolute;
  bottom: 30px;
  left: 30px; }

.project img {
  position: absolute;
  width: 100%;
  display: block; }

div.titre-work h1 {
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  width: 300px;
  text-align: left; }
  @media screen and (max-width: 1366px) {
    div.titre-work h1 {
      font-size: 21px; } }
  @media screen and (max-width: 1024px) {
    div.titre-work h1 {
      width: 200px; } }

.project h2 {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px; }

.bgc-1 {
  background: url("../img/works/cover-project/thauvin-work-page.jpg") no-repeat center;
  background-size: cover; }

.bgc-2 {
  background: url("../img/works/cover-project/marie-work-page.jpg") no-repeat center;
  background-size: cover; }

.bgc-3 {
  background: url("../img/works/cover-project/dgSport-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-1 {
  background: url("../img/works/cover-project/thauvin-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-2 {
  background: url("../img/works/cover-project/marie-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-3 {
  background: url("../img/works/cover-project/dgSport-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-4 {
  background: url("../img/works/cover-project/coiffeuse-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-5 {
  background: url("../img/works/cover-project/allan-st-maximin-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-6 {
  background: url("../img/works/cover-project/le-petit-atelier-work-page.jpg") no-repeat center;
  background-size: cover; }

#bgc-7 {
  background: url("../img/works/cover-project/rementis-work-page.jpg") no-repeat center;
  background-size: cover; }

p.description-work {
  font-family: 'Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif';
  width: 700px;
  font-size: 23px;
  color: rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: center; }

@media screen and (min-width: 1600px) {
  .container-work {
    max-width: 1450px; }

  .project {
    height: 600px; } }
@media screen and (max-width: 1600px) {
  .container-work {
    max-width: 1140px; }

  .project {
    padding: 0 10px; } }
@media screen and (max-width: 1300px) {
  .container-work {
    max-width: 1000px; }

  .project {
    height: 410px;
    padding: 0 15px; }

  .project img {
    top: -40px; }

  div.titre-work h1 {
    font-size: 22px; } }
@media screen and (max-width: 1023px) {
  .container-work {
    max-width: 760px; }

  .project {
    height: 298px; }

  .project img {
    top: -30px; }

  div.titre-work {
    top: 20px;
    left: 24px; }

  div.sous-titre-work {
    bottom: 24px;
    left: 27px; }

  div.titre-work h1 {
    font-size: 17px;
    letter-spacing: 0; }

  .project h2 {
    font-size: 15px; } }
@media screen and (max-width: 768px) {
  .container-work {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px; }

  .project {
    height: 600px;
    width: 100%;
    margin-bottom: 15px; }

  .project h2 {
    font-size: 15px; }

  .project img {
    top: -120px; }

  div.titre-work {
    top: 30px;
    left: 34px; }

  div.titre-work h1 {
    font-size: 20px;
    letter-spacing: 1px; }

  .presentation-work {
    margin-bottom: 55px; } }
@media screen and (max-width: 480px) {
  .project {
    height: 400px; }

  div.titre-work {
    top: 19px;
    left: 24px; } }
div.content-accueil {
  background-color: #e32948; }

.img-presentation {
  height: 415px;
  width: 270px; }

.btn-after {
  background-color: #e32948; }

.btn-before {
  background-color: #0c0c0c; }

/*# sourceMappingURL=page-unique-maximin.css.map */
