.container {
    max-width: 1200px;
    margin:    auto;
}

.en-tete {
    height: 180px;
}

.center {
    max-width: 1200px;
    height: 100%;
    margin: auto;
    position: relative;
}
.retour {
    position: absolute;
    top:      50%;
    left:     0;
    transform: translateY(-50%);
    padding-left: 10px;
}

.retour h5 {
    display: inline-block;
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    vertical-align: middle;
}

.arrow {
    height: 16px;
    vertical-align: middle;
}

.work-title {
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
}

.work-title h1{
    margin: 0;
    font-size: 24px;
}


.presentation-work {
    font-size: 0;
}

.project {
    position: relative;
    top:      0;

    display: inline-block;
    width:   33.33333333333333%;
    height:  550px;

    padding: 0 10px;
    margin-bottom: 50px;

    -webkit-transition: top ease 0.4s;
    -moz-transition:    top ease 0.4s;
    -o-transition:      top ease 0.4s;
    transition:         top ease 0.4s;
}

.project:hover {
    top: -10px;
}

.project:hover .wrap-child {
    -webkit-box-shadow: 0 20px 30px 0 rgba(0,0,0,.15);
    -moz-box-shadow:    0 20px 30px 0 rgba(0,0,0,.15);
    box-shadow:         0 20px 30px 0 rgba(0,0,0,.15);
}

.wrap-child {
    height:   100%;
    position: relative;

    -webkit-transition: all ease 0.3s;
    -moz-transition:    all ease 0.3s;
    -o-transition:      all ease 0.3s;
    transition:         all ease 0.3s;
}

.wrap-child a {
    display: block;
    height:  100%;
}

.project div.titre-work {
    position: absolute;
    top:      30px;
    left:     30px;
    right:    30px;
    line-height: 21px;
}

.project div.sous-titre-work {
    position: absolute;
    bottom: 15px;
    left: 34px;
}

.project img {
    position: absolute;
    width: 100%;
    display: block;
}

.project div.titre-work h1 {
    margin: 0;
    color:       #fff;
    font-size:   24px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.project h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size:   16px;
    font-weight: 400;
    letter-spacing: 1px;
}

#bgc-1 {
    background-color: #3497db;
}

#bgc-2 {
    background-color: #212121;
}

#bgc-3 {
    background-color: #f1c40f;
}

#bgc-4 {
    background-color: #ff93f8;
}

#bgc-5 {
    background-color: #174d1b;
}