.en-tete {
    height: 460px;
    margin-top:    40px;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin:    auto;
}

.center {
    max-width: 1180px;
    height: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
    background-color: #0c0c0c;
}
.retour {
    position: absolute;
    top:      25px;
    left:     25px;
}

.retour h5 {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    vertical-align: middle;
    letter-spacing: 1px;
    padding-left: 5px;
}

.arrow {
    height: 16px;
    vertical-align: middle;
}

.work-title {
    position:  absolute;
    top:       50%;
    left:      50%;
    transform: translate(-50%, -50%);
}

.work-title h1{
    color: #fff;
    font-size: 38px;
}


.presentation-work {
    font-size: 0;
}

.project {
    position: relative;
    top:      0;

    display: inline-block;
    width:   33.33333333333333%;
    height:  550px;

    padding: 0 10px;
    margin-bottom: 40px;

    -webkit-transition: top ease 0.4s;
    -moz-transition:    top ease 0.4s;
    -o-transition:      top ease 0.4s;
    transition:         top ease 0.4s;
}

.project:hover {
    top: -10px;
}

.project:hover .wrap-child {
    -webkit-box-shadow: 0 20px 30px 0 rgba(0,0,0,.15);
    -moz-box-shadow:    0 20px 30px 0 rgba(0,0,0,.15);
    box-shadow:         0 20px 30px 0 rgba(0,0,0,.15);
}

.wrap-child {
    height:   100%;
    position: relative;
    overflow: hidden;

    -webkit-transition: all ease 0.3s;
    -moz-transition:    all ease 0.3s;
    -o-transition:      all ease 0.3s;
    transition:         all ease 0.3s;
}

.wrap-child a {
    display: block;
    height:  100%;
}

.project div.titre-work {
    position: absolute;
    top:      30px;
    left:     30px;
}

.project div.sous-titre-work {
    position: absolute;
    bottom:   30px;
    left:     30px;
}

.project img {
    position: absolute;
    width: 100%;
    display: block;
}

.project div.titre-work h1 {
    color:       #fff;
    font-size:   24px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.project h2 {
    color: rgba(255, 255, 255, 0.8);
    font-size:   16px;
    font-weight: 400;
    letter-spacing: 1px;
}

#bgc-1 {
    background: url("../img/works/cover-project/thauvin-work-page.jpg") no-repeat center;
    background-size: cover;
}

#bgc-2 {
    background: url("../img/works/cover-project/marie-work-page.jpg") no-repeat center;
    background-size: cover;
}

#bgc-3 {
    background: url("../img/works/cover-project/dgSport-work-page.jpg") no-repeat center;
    background-size: cover;
}

#bgc-4 {
    background: url("../img/works/cover-project/coiffeuse-work-page.jpg") no-repeat center;
    background-size: cover;
}

#bgc-5 {
    background: url("../img/works/cover-project/avocat-work-page.jpg") no-repeat center;
    background-size: cover;
}


@media screen and (max-width: 1280px) {
    .center {
        max-width: 980px;
    }

    .container {
        max-width: 1000px;
    }

    .project {
        height: 410px;
    }

    .project img {
        top: -40px;
    }

    .retour {
        top: 40px;
        left: 50px;
    }

    .project div.titre-work h1 {
        font-size: 22px;
    }
}



@media screen and (max-width: 1024px) {
    .center {
        max-width: 740px;
    }

    .container {
        max-width: 760px;
    }

    .project {
        height: 298px;
    }

    .project img {
        top: -30px;
    }

    .retour {
        top: 40px;
        left: 50px;
    }

    .project div.titre-work {
        top: 20px;
        left: 24px;
    }

    .project div.sous-titre-work {
        bottom: 24px;
        left: 27px;
    }

    .project div.titre-work h1 {
        font-size: 17px;
        letter-spacing: 0;
    }

    .project h2 {
        font-size: 15px;
    }
}



@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .en-tete {
        margin-top: 0;
    }

    .center {
        max-width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }
    .project {
        height: 600px;
        width: 100%;
        margin-bottom: 15px;
    }

    .project h2 {
        font-size: 18px;
    }

    .project img {
        top: -120px;
    }

    .project div.titre-work {
        top: 30px;
        left: 34px;
    }

    .project div.titre-work h1 {
        font-size: 20px;
        letter-spacing: 1px;
    }
}



@media screen and (max-width: 480px){
    .project {
        height: 450px;
    }
}